In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
import yfinance as yf

In [2]:

# Define tickers
tickers = ['msft', 'aapl', 'goog', 'nvda', 'meta', 'tsm','orcl', 'adbe', 'crm', 'csco', 'tmus', 'intc', 'intu', 'ibm', 'tsla', 't', 'now', 'adi', 'uber', 'shop', 'abnb', 'pypl', 'infy', 'snow', 'wday', 'aph']

# Create an empty list to store the dataframes
df_list = []

# Loop over each ticker in the list and download the data
for ticker in tickers:
    ticker_object = yf.Ticker(ticker)

    # Download the data
    ticker_df = ticker_object.history(period="5y")
    
    # Add a column to identify the ticker
    ticker_df['Ticker'] = ticker 
        
    # Append the DataFrame to the list
    df_list.append(ticker_df)

# Concatenate all the dataframes in the list into one DataFrame
stock_info = pd.concat(df_list)

# Display the first 5 rows
stock_info.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Ticker
Date,,,,,,,,
2023-06-07 00:00:00-04:00,77.720001,78.900002,77.550003,78.760002,2406500,0.0,0.0,aph
2023-06-08 00:00:00-04:00,78.889999,79.050003,78.169998,78.849998,1912000,0.0,0.0,aph
2023-06-09 00:00:00-04:00,79.220001,79.400002,78.029999,78.230003,2191500,0.0,0.0,aph
2023-06-12 00:00:00-04:00,78.430000,79.750000,78.360001,79.610001,1974000,0.0,0.0,aph
2023-06-13 00:00:00-04:00,79.919998,80.870003,79.379997,80.820000,2239301,0.0,0.0,aph

In [3]:
# Create a new list of column names with 'Ticker' at the start
cols = ['Ticker'] + [col for col in stock_info if col != 'Ticker']

# Reindex the DataFrame to rearrange the columns
stock_info = stock_info[cols]

# Sort the DataFrame by the 'Ticker' column
stock_info = stock_info.sort_values(['Date', 'Ticker'])

# Display the first 50 rows

stock_info.head(100)

,Ticker,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,,
2018-06-14 00:00:00-04:00,aapl,45.764898,45.769677,45.447135,45.585709,86440400,0.0,0.0
2018-06-14 00:00:00-04:00,adbe,257.149994,258.910004,256.579987,258.100006,5618300,0.0,0.0
2018-06-14 00:00:00-04:00,adi,92.448549,93.584503,92.066863,92.421280,1855700,0.0,0.0
2018-06-14 00:00:00-04:00,aph,43.332563,43.508423,43.118682,43.346821,2108000,0.0,0.0
2018-06-14 00:00:00-04:00,crm,137.000000,139.750000,136.889999,138.410004,6494900,0.0,0.0
...,...,...,...,...,...,...,...,...
2018-06-20 00:00:00-04:00,aph,42.894150,42.984685,42.603490,42.808380,1941800,0.0,0.0
2018-06-20 00:00:00-04:00,crm,140.000000,142.119995,138.820007,138.940002,5341400,0.0,0.0
2018-06-20 00:00:00-04:00,csco,37.775153,37.809534,37.560277,37.594658,21276500,0.0,0.0
2018-06-20 00:00:00-04:00,goog,58.765499,59.314301,58.458000,58.492001,32970000,0.0,0.0
2018-06-20 00:00:00-04:00,ibm,107.959652,108.184223,106.604736,106.769424,3483075,0.0,0.0

In [4]:
# Reset the index
stock_info = stock_info.reset_index()

# Ensure the 'Date' column is a datetime object
stock_info['Date'] = pd.to_datetime(stock_info['Date'])

# Set 'Date' as the index again (this is necessary for resampling)
stock_info.set_index('Date', inplace=True)

# Create a grouper that groups by 'Ticker' and by month
grouped = stock_info.groupby('Ticker').resample('M')

# Compute the mean of the 'Close' price for each group
monthly_stock_info = grouped.mean()

# Reset the index again so that 'Date' and 'Ticker' are regular columns
monthly_stock_info.reset_index(inplace=True)

# Display the first rows of the DataFrame
monthly_stock_info.head(50)

,Ticker,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,aapl,2018-06-30 00:00:00-04:00,44.525111,44.819380,44.170316,44.445272,1.101847e+08,0.000000,0.000000
1,aapl,2018-07-31 00:00:00-04:00,45.441451,45.762513,45.159185,45.468984,7.498884e+07,0.000000,0.000000
2,aapl,2018-08-31 00:00:00-04:00,50.892735,51.389506,50.609909,51.098370,1.217946e+08,0.007935,0.000000
3,aapl,2018-09-30 00:00:00-04:00,53.305370,53.832709,52.765160,53.243665,1.429415e+08,0.000000,0.000000
4,aapl,2018-10-31 00:00:00-04:00,53.034191,53.691333,52.236843,52.949233,1.373476e+08,0.000000,0.000000
5,aapl,2018-11-30 00:00:00-05:00,46.109030,46.620921,45.359188,45.968402,1.831098e+08,0.008690,0.000000
6,aapl,2018-12-31 00:00:00-05:00,39.756396,40.256070,38.949902,39.521374,1.892468e+08,0.000000,0.000000
7,aapl,2019-01-31 00:00:00-05:00,36.957194,37.419592,36.557580,37.091353,1.577309e+08,0.000000,0.000000
8,aapl,2019-02-28 00:00:00-05:00,41.366249,41.725548,41.158624,41.447229,9.948223e+07,0.009605,0.000000
9,aapl,2019-03-31 00:00:00-04:00,44.271480,44.684199,43.833448,44.288394,1.239965e+08,0.000000,0.000000
10,aapl,2019-04-30 00:00:00-04:00,48.292813,48.706107,47.994233,48.449755,9.640337e+07,0.000000,0.000000
11,aapl,2019-05-31 00:00:00-04:00,46.252211,46.840995,45.832247,46.333328,1.344467e+08,0.008750,0.000000
12,aapl,2019-06-30 00:00:00-04:00,46.731863,47.248871,46.384646,46.805722,1.030437e+08,0.000000,0.000000
13,aapl,2019-07-31 00:00:00-04:00,49.736476,50.143419,49.460514,49.776388,8.615485e+07,0.000000,0.000000
14,aapl,2019-08-31 00:00:00-04:00,49.926031,50.496913,49.339472,49.852052,1.238330e+08,0.008750,0.000000
15,aapl,2019-09-30 00:00:00-04:00,53.011687,53.436190,52.576350,53.076817,1.085134e+08,0.000000,0.000000
16,aapl,2019-10-31 00:00:00-04:00,57.200000,57.696588,56.716856,57.286911,1.057918e+08,0.000000,0.000000
17,aapl,2019-11-30 00:00:00-05:00,63.870519,64.301838,63.516093,64.072103,8.966630e+07,0.009625,0.000000
18,aapl,2019-12-31 00:00:00-05:00,67.252848,67.861508,66.880838,67.529849,1.137521e+08,0.000000,0.000000
19,aapl,2020-01-31 00:00:00-05:00,75.990502,76.761036,75.419171,76.172496,1.397319e+08,0.000000,0.000000
20,aapl,2020-02-29 00:00:00-05:00,75.922391,77.130854,75.044572,76.156355,1.589094e+08,0.010132,0.000000
21,aapl,2020-03-31 00:00:00-04:00,63.907638,66.017485,62.383277,64.243108,2.854578e+08,0.000000,0.000000
22,aapl,2020-04-30 00:00:00-04:00,66.536119,67.507927,65.623761,66.676813,1.554904e+08,0.000000,0.000000
23,aapl,2020-05-31 00:00:00-04:00,75.767236,76.837946,75.152727,76.036900,1.402968e+08,0.010250,0.000000
24,aapl,2020-06-30 00:00:00-04:00,84.567826,85.746881,83.610903,84.878320,1.474262e+08,0.000000,0.000000
25,aapl,2020-07-31 00:00:00-04:00,93.681061,94.829099,92.550204,93.827104,1.372856e+08,0.000000,0.000000
26,aapl,2020-08-31 00:00:00-04:00,115.011443,116.580091,113.621625,115.335445,1.938124e+08,0.009762,0.190476
27,aapl,2020-09-30 00:00:00-04:00,114.172092,116.097082,110.735210,113.233950,1.850117e+08,0.000000,0.000000
28,aapl,2020-10-31 00:00:00-04:00,114.777031,116.331523,113.023590,114.500738,1.315758e+08,0.000000,0.000000
29,aapl,2020-11-30 00:00:00-05:00,114.990403,116.418980,113.672587,115.066562,1.061539e+08,0.010250,0.000000
30,aapl,2020-12-31 00:00:00-05:00,125.277380,126.713633,123.875609,125.415317,1.055541e+08,0.000000,0.000000
31,aapl,2021-01-31 00:00:00-05:00,131.140313,133.080257,129.049467,131.077048,1.179085e+08,0.000000,0.000000
32,aapl,2021-02-28 00:00:00-05:00,130.230192,131.260301,128.165391,129.745734,9.651872e+07,0.010789,0.000000
33,aapl,2021-03-31 00:00:00-04:00,120.468650,121.834643,118.808350,120.255427,1.152356e+08,0.000000,0.000000
34,aapl,2021-04-30 00:00:00-04:00,129.926552,131.149170,128.735414,130.065165,8.999321e+07,0.000000,0.000000
35,aapl,2021-05-31 00:00:00-04:00,125.519972,126.629509,124.323559,125.272054,8.559674e+07,0.011000,0.000000
36,aapl,2021-06-30 00:00:00-04:00,127.989693,129.138503,127.269944,128.453349,7.302682e+07,0.000000,0.000000
37,aapl,2021-07-31 00:00:00-04:00,142.895942,144.558366,141.875988,143.458397,9.138262e+07,0.000000,0.000000
38,aapl,2021-08-31 00:00:00-04:00,146.317856,147.678683,145.342594,146.641341,6.643376e+07,0.010000,0.000000
39,aapl,2021-09-30 00:00:00-04:00,147.496697,148.479996,145.733263,146.808010,8.561120e+07,0.000000,0.000000
40,aapl,2021-10-31 00:00:00-04:00,143.506935,144.939457,142.500537,144.093331,7.452758e+07,0.000000,0.000000
41,aapl,2021-11-30 00:00:00-05:00,152.232778,154.121105,151.224154,152.878916,8.052519e+07,0.010476,0.000000
42,aapl,2021-12-31 00:00:00-05:00,171.656411,174.111789,169.770156,172.050244,1.111258e+08,0.000000,0.000000
43,aapl,2022-01-31 00:00:00-05:00,168.728024,170.955074,166.188204,168.390967,1.054223e+08,0.000000,0.000000
44,aapl,2022-02-28 00:00:00-05:00,168.346161,170.281496,166.306980,168.539453,8.565875e+07,0.011579,0.000000
45,aapl,2022-03-31 00:00:00-04:00,163.588342,165.928304,161.734328,164.088099,9.481740e+07,0.000000,0.000000
46,aapl,2022-04-30 00:00:00-04:00,166.240631,168.265050,163.862348,165.587495,8.438978e+07,0.000000,0.000000
47,aapl,2022-05-31 00:00:00-04:00,147.399532,150.009835,144.458113,147.504964,1.143353e+08,0.010952,0.000000
48,aapl,2022-06-30 00:00:00-04:00,139.115028,141.076647,137.291631,138.968760,8.329047e+07,0.000000,0.000000
49,aapl,2022-07-31 00:00:00-04:00,147.555411,149.871084,146.268099,148.782087,7.235627e+07,0.000000,0.000000

In [5]:
# Round the 'Volume' column to the nearest million
monthly_stock_info['Volume'] = (monthly_stock_info['Volume'] / 1_000_000).round().astype(int)

# Drop the specified columns
monthly_stock_info = monthly_stock_info.drop(['Dividends', 'Stock Splits'], axis=1)

# Remove all null values from the DataFrame
monthly_stock_info = monthly_stock_info.dropna()

# Format all decimal values to two decimal places
monthly_stock_info = monthly_stock_info.round(decimals=2)

# Display the first rows of the DataFrame
monthly_stock_info.head()

  Ticker                      Date   Open   High    Low  Close  Volume
0   aapl 2018-06-30 00:00:00-04:00  44.53  44.82  44.17  44.45     110
1   aapl 2018-07-31 00:00:00-04:00  45.44  45.76  45.16  45.47      75
2   aapl 2018-08-31 00:00:00-04:00  50.89  51.39  50.61  51.10     122
3   aapl 2018-09-30 00:00:00-04:00  53.31  53.83  52.77  53.24     143
4   aapl 2018-10-31 00:00:00-04:00  53.03  53.69  52.24  52.95     137

In [13]:
# Export Data to csv

# Select columns to export
OpenClose_df = monthly_stock_info[['Ticker', 'Date', 'Open', 'Close']]

path = "OpenClose.csv"

# Export the DataFrame to a csv file
OpenClose_df.to_csv(path, index=False)

In [16]:
# Select columns to export
Volume_df= monthly_stock_info[['Ticker', 'Date', 'Volume']]

path = "Volume.csv"

# Export the DataFrame to a csv file
Volume_df.to_csv(path, index=False)

In [17]:
HighLow_df = monthly_stock_info[['Ticker', 'Date', 'High', 'Low']]

path = "HighLow.csv"

# Export the DataFrame to a csv file
HighLow_df.to_csv(path, index=False)

In [9]:
# Define tickers
tickers = ['msft', 'aapl', 'goog', 'nvda', 'meta', 'tsm', 'avgo', 'orcl', 'adbe', 'crm', 'csco', 'tmus', 'intc', 'intu', 'ibm', 'tsla', 't', 'now', 'adi', 'uber', 'shop', 'abnb', 'pypl', 'infy', 'snow', 'wday', 'aph']

# Create an empty list to store the information DataFrames
df_list = []

# Loop over each ticker in the list
for ticker in tickers:
    ticker_object = yf.Ticker(ticker)
  
    # Get the company info
    info = ticker_object.info

    # Convert the info into a DataFrame
    info_df = pd.DataFrame.from_dict(info, orient='index').T

    # Append the DataFrame to the list
    df_list.append(info_df)

# Concatenate all the dataframes in the list into one DataFrame
company_info_df = pd.concat(df_list, ignore_index=True)

# Display the first rows of the DataFrame
company_info_df.head(50)

,address1,city,state,zip,country,phone,fax,website,industry,industryDisp,...,operatingCashflow,earningsGrowth,revenueGrowth,grossMargins,ebitdaMargins,operatingMargins,financialCurrency,trailingPegRatio,address2,industrySymbol
0,One Microsoft Way,Redmond,WA,98052-6399,United States,425 882 8080,425 706 7329,https://www.microsoft.com,Software—Infrastructure,Software—Infrastructure,...,83441000448,0.104,0.071,0.68522,0.4821,0.41415,USD,2.4389,NaN,NaN
1,One Apple Park Way,Cupertino,CA,95014,United States,408 996 1010,NaN,https://www.apple.com,Consumer Electronics,Consumer Electronics,...,109583998976,0.0,-0.025,0.43181,0.32145,0.29163,USD,2.5214,NaN,NaN
2,1600 Amphitheatre Parkway,Mountain View,CA,94043,United States,650 253 0000,NaN,https://www.abc.xyz,Internet Content & Information,Internet Content & Information,...,89898000384,-0.047,0.026,0.55302,0.30742,0.25355,USD,1.5415,NaN,NaN
3,2788 San Tomas Expressway,Santa Clara,CA,95051,United States,408 486 2000,NaN,https://www.nvidia.com,Semiconductors,Semiconductors,...,6821000192,0.281,-0.132,0.56314,0.23534,0.17374,USD,2.2442,NaN,NaN
4,1601 Willow Road,Menlo Park,CA,94025,United States,650 543 4800,NaN,https://investor.fb.com,Internet Content & Information,Internet Content & Information,...,50396999680,-0.191,0.026,0.79576,0.3618,0.28465,USD,0.9394,NaN,NaN
5,Hsinchu Science Park,Hsinchu City,NaN,300096,Taiwan,886 3 563 6688,886 3 563 7000,https://www.tsmc.com,Semiconductors,Semiconductors,...,1623674191872,0.021,0.036,0.59684,0.68252,0.49474,TWD,4.3744,"No. 8, Li-Hsin Road 6",NaN
6,1320 Ridder Park Drive,San Jose,CA,95131-2313,United States,408 433 8000,NaN,https://www.broadcom.com,Semiconductors,Semiconductors,...,NaN,NaN,NaN,0.0,0.0,0.0,USD,1.4913,NaN,NaN
7,2300 Oracle Way,Austin,TX,78741,United States,737 867 1000,NaN,https://www.oracle.com,Software—Infrastructure,Software—Infrastructure,...,15502999552,-0.19,0.179,0.74496,0.38792,0.29157,USD,2.2782,NaN,NaN
8,345 Park Avenue,San Jose,CA,95110-2704,United States,408 536 6000,408 537 6000,https://www.adobe.com,Software—Infrastructure,Software—Infrastructure,...,7761999872,0.019,0.092,0.8766,0.37341,0.33913,USD,2.0519,NaN,NaN
9,Salesforce Tower,San Francisco,CA,94105,United States,415 901 7000,415 901 7040,https://www.salesforce.com,Software—Application,Software—Application,...,7926000128,6.079,0.113,0.73779,0.21396,0.09199,USD,1.438,3rd Floor 415 Mission Street,h885
10,170 West Tasman Drive,San Jose,CA,95134-1706,United States,408 526 4000,NaN,https://www.cisco.com,Communication Equipment,Communication Equipment,...,17596999680,0.068,0.135,0.61989,0.29517,0.26504,USD,2.0521,NaN,NaN
11,12920 SE 38th Street,Bellevue,WA,98006-1350,United States,425 378 4000,NaN,https://www.t-mobile.com,Telecom Services,Telecom Services,...,16986999808,1.772,-0.024,0.60615,0.33891,0.17112,USD,0.3288,NaN,NaN
12,2200 Mission College Boulevard,Santa Clara,CA,95054-1549,United States,408 765 8080,NaN,https://www.intel.com,Semiconductors,Semiconductors,...,7757000192,NaN,-0.362,0.3834,0.17468,-0.03896,USD,10.2044,NaN,NaN
13,2700 Coast Avenue,Mountain View,CA,94043,United States,650 944 6000,NaN,https://www.intuit.com,Software—Application,Software—Application,...,4543000064,0.175,0.069,0.79623,0.26333,0.2167,USD,1.7067,NaN,NaN
14,One New Orchard Road,Armonk,NY,10504,United States,914 499 1900,NaN,https://www.ibm.com,Information Technology Services,Information Technology Services,...,10961000448,0.253,0.004,0.54243,0.2087,0.13244,USD,2.265,NaN,NaN
15,1 Tesla Road,Austin,TX,78725,United States,512 516 8177,NaN,https://www.tesla.com,Auto Manufacturers,Auto Manufacturers,...,13242000384,-0.232,0.244,0.23135,0.19371,0.14823,USD,2.7622,NaN,NaN
16,208 South Akard Street,Dallas,TX,75202,United States,210 821 4105,NaN,https://www.att.com,Telecom Services,Telecom Services,...,32969000960,-0.127,0.014,0.58368,0.36153,0.23594,USD,3.2244,NaN,NaN
17,2225 Lawson Lane,Santa Clara,CA,95054,United States,408 501 8550,NaN,https://www.servicenow.com,Software—Application,Software—Application,...,2761999872,0.973,0.217,0.78449,0.11419,0.05408,USD,2.237,NaN,NaN
18,One Analog Way,Wilmington,MA,01887,United States,781 935 5565,NaN,https://www.analog.com,Semiconductors,Semiconductors,...,4885067776,0.289,0.098,0.65693,0.5255,0.34517,USD,1.8389,NaN,NaN
19,1515 3rd Street,San Francisco,CA,94158,United States,415 612 8582,NaN,https://www.uber.com,Software—Application,Software—Application,...,1232999936,NaN,0.287,0.30949,-0.02104,-0.04763,USD,None,NaN,NaN
20,151 O'Connor Street,Ottawa,ON,K2P 2L8,Canada,NaN,NaN,https://www.shopify.com,Software—Application,Software—Application,...,-11448000,NaN,0.252,0.47987,-0.07555,-0.09291,USD,None,Ground floor,NaN
21,888 Brannan Street,San Francisco,CA,94103,United States,415 510 4027,NaN,https://www.airbnb.com,Travel Services,Travel Services,...,3815000064,NaN,0.205,0.8204,0.22151,0.21744,USD,1.7141,NaN,NaN
22,2211 North First Street,San Jose,CA,95131,United States,408 967 1000,NaN,https://www.paypal.com,Credit Services,Credit Services,...,5766000128,0.628,0.086,0.41735,0.18835,0.15868,USD,0.5316,NaN,NaN
23,Plot No. 44/97 A,Bengaluru,NaN,560100,India,91 80 2852 0261,91 80 2852 0362,https://www.infosys.com,Information Technology Services,Information Technology Services,...,2852999936,0.001,0.064,0.29579,0.23078,0.21008,USD,1.6787,3rd cross Electronic City Hosur Road,NaN
24,106 East Babcock Street,Bozeman,MT,59715,United States,844 766 9355,NaN,https://www.snowflake.com,Software—Application,Software—Application,...,660470016,NaN,0.476,0.65635,-0.3768,-0.40616,USD,4.7907,Suite 3A,NaN
25,6110 Stoneridge Mall Road,Pleasanton,CA,94588,United States,925 951 9000,925 951 9001,https://www.workday.com,Software—Application,Software—Application,...,1494793984,NaN,0.174,0.73246,0.02719,-0.02616,USD,1.5612,NaN,NaN
26,358 Hall Avenue,Wallingford,CT,06492,United States,203 265 8900,NaN,https://www.amphenol.com,Electronic Components,Electronic Components,...,2356199936,0.044,0.007,0.31989,0.23812,0.20664,USD,4.9116,PO Box 5030,NaN

In [10]:
df_list = []

# Loop over each ticker in the list
for ticker in tickers:
    ticker_object = yf.Ticker(ticker)
  
    # Get the company info
    info = ticker_object.info

    # Add the ticker to the info
    info['Ticker'] = ticker

    # Convert the info into a DataFrame
    info_df = pd.DataFrame.from_dict(info, orient='index').T

    # Append the DataFrame to the list
    df_list.append(info_df)

# Concatenate all the dataframes in the list into one DataFrame
company_info_df = pd.concat(df_list, ignore_index=True)

# Specify the columns you want to keep, now including 'Ticker'
columns_to_keep = ['Ticker', 'longName', 'city', 'country', 'website', 'industry', 'revenueGrowth', 'ebitdaMargins']

# Filter the DataFrame
filtered_df = company_info_df[columns_to_keep]
filtered_df = filtered_df.rename(columns={'longName': 'CompanyName'})

# Drop rows with null values
filtered_df = filtered_df.dropna()

# Sort by Ticker
filtered_df = filtered_df.sort_values(['Ticker'])

# Display the first rows of the DataFrame
filtered_df.head(50)

,Ticker,CompanyName,city,country,website,industry,revenueGrowth,ebitdaMargins
1,aapl,Apple Inc.,Cupertino,United States,https://www.apple.com,Consumer Electronics,-0.025,0.32145
21,abnb,"Airbnb, Inc.",San Francisco,United States,https://www.airbnb.com,Travel Services,0.205,0.22151
8,adbe,Adobe Inc.,San Jose,United States,https://www.adobe.com,Software—Infrastructure,0.092,0.37341
18,adi,"Analog Devices, Inc.",Wilmington,United States,https://www.analog.com,Semiconductors,0.098,0.5255
26,aph,Amphenol Corporation,Wallingford,United States,https://www.amphenol.com,Electronic Components,0.007,0.23812
9,crm,"Salesforce, Inc.",San Francisco,United States,https://www.salesforce.com,Software—Application,0.113,0.21396
10,csco,"Cisco Systems, Inc.",San Jose,United States,https://www.cisco.com,Communication Equipment,0.135,0.29517
2,goog,Alphabet Inc.,Mountain View,United States,https://www.abc.xyz,Internet Content & Information,0.026,0.30742
14,ibm,International Business Machines Corporation,Armonk,United States,https://www.ibm.com,Information Technology Services,0.004,0.2087
23,infy,Infosys Limited,Bengaluru,India,https://www.infosys.com,Information Technology Services,0.064,0.23078
12,intc,Intel Corporation,Santa Clara,United States,https://www.intel.com,Semiconductors,-0.362,0.17468
13,intu,Intuit Inc.,Mountain View,United States,https://www.intuit.com,Software—Application,0.069,0.26333
4,meta,"Meta Platforms, Inc.",Menlo Park,United States,https://investor.fb.com,Internet Content & Information,0.026,0.3618
0,msft,Microsoft Corporation,Redmond,United States,https://www.microsoft.com,Software—Infrastructure,0.071,0.4821
17,now,"ServiceNow, Inc.",Santa Clara,United States,https://www.servicenow.com,Software—Application,0.217,0.11419
3,nvda,NVIDIA Corporation,Santa Clara,United States,https://www.nvidia.com,Semiconductors,-0.132,0.23534
7,orcl,Oracle Corporation,Austin,United States,https://www.oracle.com,Software—Infrastructure,0.179,0.38792
22,pypl,"PayPal Holdings, Inc.",San Jose,United States,https://www.paypal.com,Credit Services,0.086,0.18835
20,shop,Shopify Inc.,Ottawa,Canada,https://www.shopify.com,Software—Application,0.252,-0.07555
24,snow,Snowflake Inc.,Bozeman,United States,https://www.snowflake.com,Software—Application,0.476,-0.3768
16,t,AT&T Inc.,Dallas,United States,https://www.att.com,Telecom Services,0.014,0.36153
11,tmus,"T-Mobile US, Inc.",Bellevue,United States,https://www.t-mobile.com,Telecom Services,-0.024,0.33891
15,tsla,"Tesla, Inc.",Austin,United States,https://www.tesla.com,Auto Manufacturers,0.244,0.19371
5,tsm,Taiwan Semiconductor Manufacturing Company Lim...,Hsinchu City,Taiwan,https://www.tsmc.com,Semiconductors,0.036,0.68252
19,uber,"Uber Technologies, Inc.",San Francisco,United States,https://www.uber.com,Software—Application,0.287,-0.02104
25,wday,"Workday, Inc.",Pleasanton,United States,https://www.workday.com,Software—Application,0.174,0.02719

In [11]:
import os

directory = "../Database"
if not os.path.exists(directory):
    os.makedirs(directory)

path = "stock_info.csv"

# Export the DataFrame to a csv file
filtered_df.to_csv(path, index=False)